# Задача

Описать пример отправки запросов в наш сервис.

# Импорты

In [1]:
import os
import urllib.parse

import requests
import pandas as pd

# Данные

In [2]:
DATA_PATH = '../data'
TRAIN_FILE = 'TRAIN_DATA.csv'
TEST_FILE = 'TEST_DATA.csv'

In [3]:
data = pd.read_csv(os.path.join(DATA_PATH, TEST_FILE), nrows=10)

In [4]:
data

,row_id,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,...,feat_120,feat_121,feat_122,feat_123,feat_124,feat_125,feat_126,feat_127,feat_128,feat_129
0,0,A,D,I,A,A,0.36083,A,B,A,...,A,B,A,BI,B,0.298041,T,A,A,B
1,1,A,E,E,A,A,0.52450,A,A,A,...,B,H,A,BI,B,0.662480,R,A,A,B
2,5,A,A,E,A,A,0.49462,A,A,A,...,A,O,A,AB,A,0.677861,P,A,A,D
3,13,A,D,A,A,A,0.82252,A,A,A,...,A,L,A,BI,A,0.586522,T,A,A,B
4,14,A,A,A,A,A,0.64027,A,A,A,...,A,I,A,AB,A,0.284869,P,A,A,B
5,16,A,D,A,A,A,0.53642,A,A,A,...,A,A,A,BI,A,0.491714,T,A,A,B
6,17,A,A,G,A,A,0.24123,A,B,A,...,A,I,A,BI,A,0.203108,S,A,A,B
7,18,A,A,A,A,A,0.64027,A,A,A,...,A,J,A,BI,A,0.327952,P,A,A,B
8,30,A,C,A,A,A,0.80058,A,A,A,...,A,F,A,BI,A,0.893784,T,A,B,B
9,31,A,A,E,A,A,0.50658,A,A,A,...,A,F,A,BI,B,0.468558,S,A,A,A

In [5]:
list_of_data = data[data.columns[1:]].to_dict('records')

# Сервис

In [13]:
url = 'http://0.0.0.0:5000/'

## Проверка связи

In [14]:
ping_url = urllib.parse.urljoin(url, '/ping')
response = requests.get(ping_url)
response.raise_for_status()

print(response.text)

pong

## Проверка работы

In [15]:
model_url = urllib.parse.urljoin(url, '/predict')

Одиночный пример как словарь

In [16]:
response = requests.post(model_url, json=list_of_data[0])
response.raise_for_status()

print(response.text)

588.3274810308812

Список длины 1

In [17]:
response = requests.post(model_url, json=list_of_data[:1])
response.raise_for_status()

print(response.json())

[588.3274810308812]

Список длины 10

In [18]:
response = requests.post(model_url, json=list_of_data)
response.raise_for_status()

print(response.json())

[588.3274810308812, 429.28703382927296, 488.72030196301444, 444.14028775983735, 375.296768394164, 333.7762844946639, 546.4050528773857, 330.5559103609526, 323.1559946567081, 441.18148127188215]

Отсутствие полей

In [25]:
response = requests.post(model_url, json={'wrong': 1})

print(response.text)

{
  "code": 400,
  "message": "Data should have field 'feat_0'."
}

Неверный тип данных

In [28]:
response = requests.post(model_url, json='Predict smth.')

print(response.text)

{
  "code": 400,
  "message": "Data should be dict or list of dicts."
}

In [29]:
response = requests.post(model_url, json=12345)

print(response.text)

{
  "code": 400,
  "message": "Data should be dict or list of dicts."
}